@using webGold.Business
@model List<webGold.Repository.Entity.PaymentHistory>
@{
    ViewBag.Title = "TransactionList";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Transaction List</h2>
<br/>
 <div class="">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Context Classes
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Currency</th>
                                            <th>Amount</th>
                                            <th>Payment Type</th>
                                            <th>Payment Method</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    @if(Model != null)
                                    {
                                        <tbody>
                                        @foreach(var item in Model)
                                        {
                                            <tr class="warning">
                                                <td><input id="@item.Id" type="checkbox" /></td>
                                                <td>@item.Date</td>
                                                <td>@item.Currency</td>
                                                <td>@item.Currency</td>
                                                <td>@Enum.ToObject(typeof(PaymentType) ,Convert.ToInt16(item.PaymentType))</td>
                                                <td>@Enum.ToObject(typeof(PaymentMethod) ,Convert.ToInt16(item.PaymentMethod))</td>
                                                <td>@item.ReceivedEmail</td>
                                            </tr>
                                        }
                                        </tbody>
                                    }
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
