@model WRIO.Models.Login.UserLoginModel
@{
    ViewBag.Title = "Login";
}

@section Scripts{
    <script src="~/js/ajax.js"></script>

    @if (Model.IsSignUpTab)
    {
         <script>
             $(document).ready(function () {
                 OpenTab("#tab2");
                 var _parent = $('a[href$="#tab2"]').parent();
                 _parent.removeClass("hide");
                 //$("#passwordRequired").removeClass("hide");
             });
             </script>
    }

  
    @if (Model.ResetPassword)
    {
         <script>
             $(document).ready(function () {
                 OpenTab("#tab6");
                 var _parent = $('a[href$="#tab6"]').parent();
                 _parent.removeClass("hide");
                 // $("passwordRequired").removeClass("hide");
             });
         </script>
    }

    @if (Model.IsEmailRequired)
    {
         <script>
             $(document).ready(function () {
                 OpenTab("#tab8");
                 var _parent = $('a[href$="#tab8"]').parent();
                 _parent.removeClass("hide");
                 $("incorrectPasswordAndEmail").removeClass("hide");
                 
             });
         </script>
    }

     @if (Model.IsPasswordRequired)
     {
         <script>
             $(document).ready(function () {
                 OpenTab("#tab8");
                 var _parent = $('a[href$="#tab8"]').parent();
                 _parent.removeClass("hide");
                 $("incorrectPasswordAndEmail").removeClass("hide");
             });
         </script>
     }

    <script>
        $("li").click(function(event) {
            var nodeName = event.target.nodeName;
            if (nodeName == "A") {
                OpenTab($(event.target).attr('href'));
            }
        });

        function CheckTab(obj) {
            $("li.c_tab.active").removeClass("active");
            $("div.tab-pane.active").removeClass("active");
            var element = $(obj);
            var cId = element.attr("href");
            var _parent = element.parent();
            _parent.removeClass("hide");
            _parent.addClass("active");
            $(cId).addClass("active");
        }
        function Close(obj) {
            $(obj).parent().addClass('hide');
        }

        function CloseTab(obj, tabHref) {
            $(obj).parent().parent().addClass("hide");
            OpenTab(tabHref);
        }

        function OpenTab(tabHref) {
            $("li.c_tab.active").removeClass("active");
            $("div.tab-pane.active").removeClass("active");
            var _parent = $('a[href$="' + tabHref + '"]').parent();
            _parent.removeClass("hide");
            _parent.addClass("active");
            $(tabHref).addClass("active");
        }

        function CheckEmail(curNode, validatorId) {
            var curObject = $(curNode);
            var value = curObject.val();
            var result = Ajax("profile", "IsEmailExist", { "email": value });
            result.done(function(data) {
                var isExist = data["isExist"];
                if (!isExist) {
                    $(validatorId).removeClass("hide");
                    curObject.parent().parent().addClass("error");
                }else {
                    $(validatorId).addClass("hide");
                    curObject.parent().parent().removeClass("error");
                }
            });
        }
        
        function IsEmailExist(curNode, validatorId) {
            var curObject = $(curNode);
            var value = curObject.val();
            var result = Ajax("profile", "IsEmailExist", { "email": value });
            result.done(function (data) {
                var isExist = data["isExist"];
                if (isExist) {
                    $(validatorId).removeClass("hide");
                    curObject.parent().parent().addClass("error");
                } else {
                    $(validatorId).addClass("hide");
                    curObject.parent().parent().removeClass("error");
                }
            });
        }
        
        function CheckPassword(curNode, validatorId) {
            var curObject = $(curNode);
            var value = curObject.val();
            if (value.length == 0 || value.length < 65) {
                $(validatorId).removeClass("hide");
                curObject.parent().parent().addClass("error");
            }
        }

        function SendToResetPassword(emailId) {
            var value = $(emailId).val();
            var result = Ajax("profile", "SendToResetPassword", { "email": value });
            result.done(function (data) {
                var isvalid = data['iscorrect'];
                if (!isvalid) {
                    $('#associatedError').removeClass("hide");
                }
            });
        }
        
        function OpenBreadcrumb(tabToClose,tabToOpen) {
            $('a[href$="' + tabToClose + '"]').parent().addClass("hide");
            OpenTab(tabToOpen);
        }
           
        function RedirectTo(path) {
            window.location.href = "http://dev.wr.io/" + path;
        }
        
        function OpenForgotPassword() {
            
        }
            
    </script>
}
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"></a>
                <ul class="nav">
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subnav">
        <ul class="nav nav-pills">
            <li class="active"><a href="#">English (US)</a></li>
            <li><a href="#">Русский</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="tickets large lock-ticket">
                        @if (Model.ForgotPassword)
                        {
                            <div class="alert alert-error">
                                <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                Incorrect password
                            </div>
                        }
                        @if (Model.AccountCollection.Count > 0)
                        {
                            foreach (var account in Model.AccountCollection)
                            {
                                <div class="media thumbnail">
                                    <a class="pull-left" href="#">
                                        @if (string.IsNullOrEmpty(account.Avatar))
                                        {
                                            <img class="media-object" src="/content/img/no-photo.png"/>
                                        }
                                        else
                                        {
                                            <img class="media-object" src="@account.Avatar" /> 
                                        }
                                    </a>
                                    <div class="media-body">
                                        <a href="#" title="Click to forgot account">
                                            @* <i class="icon-remove pull-right"></i>*@
                                        </a>
                                        @if (!string.IsNullOrEmpty(account.Name))
                                        {
                                            <h4>@account.Name</h4>
                                        }
                                        else
                                        {
                                            <h4>Guest</h4>
                                            <h5>Для ознакомления с проектом без регистрации</h5>
                                        }
                                        @if (!string.IsNullOrEmpty(account.Email))
                                        {
                                            if (Model.ForgotPassword)
                                            {
                                                <div class="control-group error">
                                                <div class="input-append">
                                                    <form method="post" action="/profile/UserLogin">
                                                        <input type="hidden"  name="Email" value="@account.Email" />
                                                        <input type="password" class="lock_password span8" placeholder="Password" name="password" autofocus />
                                                        <button class="btn" type="submit" name="TryToLogin"><i class="icon-arrow-right"></i></button>
                                                    </form>
                                                </div>
                                                <button class="btn-link" onclick="OpenTab('#tab4');">Forgot password?</button>
                                            </div>
                                            }else
                                            {
                                                <div class="control-group">
                                                <div class="input-append">
                                                    <form method="post" action="/profile/UserLogin">
                                                        <input type="hidden"  name="Email" value="@account.Email" />
                                                        <input type="password" class="lock_password span8" placeholder="Password" name="password" autofocus />
                                                        <button class="btn" type="submit" name="TryToLogin"><i class="icon-arrow-right"></i></button>
                                                    </form>
                                                </div>
                                                <button class="btn-link" onclick="OpenTab('#tab4');">Forgot password?</button>
                                            </div>
                                            }
                                            
                                        }
                                    </div>
                                </div> 
                            }
                        }
                        <div class="media thumbnail">
                            <a class="pull-left" href="/profile/OneClickSignUp">
                                <img class="media-object" src="/content/img/no-photo.png"></a>
                            <div class="media-body" onclick="RedirectTo('Profile/OneClickSignUp');">
                                <h4>Guest</h4>
                                <h5>Для ознакомления с проектом без регистрации</h5>
                            </div>
                        </div>
                    </div>
                    <br />
                    <a href="#" class="btn btn-large btn-block  btn-success" onclick="OpenTab('#tab2');">Add account</a>
                </div>

                <div class="span6 center-container">
                    <div class="row-fluid">
                        <ul class="nav nav-tabs">
                            <li class="c_tab active"><a href="#tab1">Welcome</a></li>
                            <li class="c_tab hide"><a id="addAccount1" href="#tab2" >Add account&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li> 
                            <li class="c_tab hide"><a href="#tab3" >Forgot password&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                            <li class="c_tab hide"><a href="#tab5" >Choose language&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                            <li class="c_tab hide"><a href="#tab4" >Forgot password&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                            <li class="c_tab hide"><a href="#tab6" >Forgot Password&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                            <li class="c_tab hide"><a href="#tab7" >Support&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                            <li class="c_tab hide"><a id="addAccount2" href="#tab8" >Add account&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li> 
                            <li class="c_tab hide"><a href="#tab9" >Terms&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                            <li class="c_tab hide"><a href="#tab10" >Privacy&nbsp;<i class="icon-remove" onclick="CloseTab(this,'#tab1');"></i></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="row-fluid main">
                                    <div class="alert">
                                        <strong>Примечение:</strong> в стадии разработки. Заявленные функции будут подключаться по мере развития проекта
                                    </div>
                                    <div id="myCarousel" class="carousel slide">
                                        <div class="signup-unit">
                                            <div class="grid_bg">
                                                <div class="grid-block">
                                                    <h2>All your stuff in one place</h2>
                                                    <div class="features">
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>подбор интересного контента на основе ваших предпочтений</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>поиск читателей для ваших статей</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>перевод на другие языки и монетизация вашего блога и публикаций в социальных сетях</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>перевод и получение денег</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>хранение всех ваших логинов и паролей</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>отображение и организация любимых сайтов в удобном для вас виде</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>единый каталог всех ваших статей, книг, фото/аудио/видео материалов</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>шифрование почты</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>защита личных данных</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tickets">
                                                            <div class="media">
                                                                <i class="icon-ok-sign icon-white pull-left"></i>
                                                                <div class="media-body">
                                                                    <h4>защита от вирусов, мошенников, спама, отслеживания и цензуры</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <ul class="breadcrumb">
                                    <li class="active">Sign up <span class="divider">/</span></li>
                                    <li><button class="btn-link"  onclick="OpenBreadcrumb('#tab2','#tab8');">Already have an account?</button></li>
                                </ul>
                                @if (Model.IsEmailExist)
                                {
                                     <div id="emailExist" class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                        This email address is already registered to another account
                                    </div>
                                }
                                else
                                {
                                    <div id="emailExist" class="alert alert-error hide">
                                        <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                        This email address is already registered to another account
                                    </div>
                                }
                                @if (Model.SignUpEmailIsIncorrect)
                                {
                                    <div id="emailRequired" class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                        Email is required
                                    </div>
                                }
                                else
                                {
                                    <div id="emailRequired" class="alert alert-error hide">
                                        <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                        Email is required
                                    </div>
                                }
                                 @if (Model.SignUpPasswordIsIncorrect)
                                 {
                                     <div id="passwordRequired" class="alert alert-error">
                                         <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                         Password is required
                                     </div>
                                 }
                                 else
                                 {
                                     <div id="passwordRequired" class="alert alert-error hide">
                                         <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                         Password is required
                                     </div>
                                 }
                                <form class="login form-horizontal" method="POST" action="/profile/Login_">
                                    @if (Model.SignUpEmailIsIncorrect)
                                    {
                                        <div class="control-group error">
                                            <label class="control-label" for="inputEmail">Email</label>
                                            <div class="controls">
                                                <input type="text" id="inputEmail" name="Email" value="@Model.Email" autofocus onchange="IsEmailExist(this, '#emailExist');" />
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="control-group">
                                            <label class="control-label" for="inputEmail">Email</label>
                                            <div class="controls">
                                                <input type="text" id="inputEmail" name="Email" value="@Model.Email" autofocus onchange="IsEmailExist(this, '#emailExist');" />
                                            </div>
                                        </div>
                                    }
                                     @if (Model.SignUpPasswordIsIncorrect)
                                     {
                                         <div class="control-group error">
                                             <label class="control-label" for="inputPassword">Password</label>
                                             <div class="controls">
                                                 <input type="password" id="inputPassword" name="Password" />
                                             </div>
                                         </div>
                                     }
                                     else
                                     {
                                         <div class="control-group">
                                             <label class="control-label" for="inputPassword">Password</label>
                                             <div class="controls">
                                                 <input type="password" id="inputPassword" name="Password" />
                                             </div>
                                         </div>
                                     }
                                   
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" name="StaySignedIn">
                                                Stay signed in
                                            </label>
                                            <button type="submit" class="btn btn-success" name="RegistrateUser">Sign up</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <ul class="breadcrumb">
                                    <li class="active">Reset password</li>
                                </ul>
                                <p>
                                    На указанный в профайле почтовый адрес будет выслана ссылка, перейдя по которой пароль будет сброшен и вы сможете ввести новый.
                                </p>
                                <a href="reset_password.htm" class="btn btn-success">Send a link to reset password</a>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <ul class="breadcrumb">
                                    <li class="active">Reset password</li>
                                </ul>
                                <div id="associatedError" class="alert alert-error hide">
                                    <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                    This email address isn't associated with any account
                                </div>
                                <p>Введите почтовый адрес на который зарегистрирована ваша учетная запись, на нее будет выслана ссылка, перейдя по которой пароль будет сброшен и вы сможете ввести новый.</p>
                               @* <form class="login form-horizontal">*@
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">Email</label>
                                        <div class="controls">
                                            <input type="text" id="emailToSend" onchange="CheckEmail(this,'#associatedError');" autofocus>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button class="btn btn-success" onclick="SendToResetPassword('#emailToSend');">Send a link to reset password</button>
                                        </div>
                                    </div>
                                @*</form>*@
                            </div>
                            <div class="tab-pane" id="tab5">
                                <ul class="breadcrumb">
                                    <li class="active">Browse</li>
                                </ul>
                                <ul class="thumbnails small">
                                    <li class="span4">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="active"><a href="#">English (US)</a></li>
                                            <li><a href="#">Русский</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="control-group">
                                    <div class="controls">
                                        <a href="#" class="btn"><i class="icon-ban-circle"></i>&nbsp;Cancel</a>
                                        <a href="#" class="btn btn-success"><i class="icon-ok icon-white"></i>&nbsp;Submit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6">
                                <ul class="breadcrumb">
                                    <li class="active">Reset password</li>
                                </ul>
                                <p>Введите новый пароль</p>
                                <form class="login form-horizontal" action="/profile/SendNewPassword" method="POST" >
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">Password</label>
                                        <div class="controls">
                                            <input type="hidden" name="Email" value="@Model.Email">
                                            <input type="password" name="Password" id="Password">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" name="SendNewPassword" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab7">
                                <ul class="breadcrumb">
                                    <li class="active">Support</li>
                                </ul>
                                <p>
                                    <h4>Coming Soon !!!</h4>
                                </p>
                            </div>
                            <div class="tab-pane" id="tab8">
                                <ul class="breadcrumb">
                                    <li><button class="btn-link"  onclick="OpenBreadcrumb('#tab8','#tab2');">Sign up </button><span class="divider">/</span></li>
                                    <li class="active">Already have an account?</li>
                                </ul>
                                <div class="alert hide">
                                    <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                    <strong>Warning!</strong> Caps lock is on
                                </div>
                                <div class="alert hide">
                                    <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                    <strong>Warning!</strong> Not En keyboard layout
                                </div>
                                @if (Model.IsEmailRequired || Model.IsPasswordRequired)
                                {
                                    <div class="alert alert-error" id="incorrectPasswordAndEmail">
                                        <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                        Incorrect password or email address
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-error hide" id="incorrectPasswordAndEmail">
                                        <button type="button" class="close" data-dismiss="alert" onclick="Close(this);">×</button>
                                        Incorrect password or email address
                                    </div>
                                }
                                <form class="login form-horizontal" method="POST" action="/profile/Login">
                                    @if (Model.IsEmailRequired)
                                    {
                                        <div class="control-group error">
                                            <label class="control-label" for="inputEmail">Email</label>
                                            <div class="controls">
                                                <input type="text" id="Text2" placeholder="Email" name="Email" value="@Model.Email" onchange="CheckEmail(this, '#incorrectPasswordAndEmail');"  autofocus>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="control-group">
                                            <label class="control-label" for="inputEmail">Email</label>
                                            <div class="controls">
                                                <input type="text" id="Text2" placeholder="Email" name="Email" value="@Model.Email" onchange="CheckEmail(this, '#incorrectPasswordAndEmail');"  autofocus>
                                            </div>
                                        </div>
                                    }

                                    @if (Model.IsPasswordRequired)
                                    {
                                        <div class="control-group error">
                                            <label class="control-label" for="inputPassword">Password</label>
                                            <div class="controls">
                                                <input type="password" id="Password1" placeholder="Password" name="password">
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="control-group">
                                            <label class="control-label" for="inputPassword">Password</label>
                                            <div class="controls">
                                                <input type="password" id="Password1" placeholder="Password" name="password">
                                            </div>
                                        </div>
                                    }
                                   
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" name="StaySignedIn">
                                                Stay signed in
                                            </label>
                                            <button type="submit" class="btn btn-success" name="Login">Sign in</button>
                                            <input type="button" class="btn-link" value="Forgot password?" onclick="OpenTab('#tab4');"></input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab9">
                                <ul class="breadcrumb">
                                    <li class="active">Terms</li>
                                </ul>
                                <p>
                                    <h4>Coming Soon !!!</h4>
                                </p>
                            </div>
                            <div class="tab-pane" id="tab10">
                                <ul class="breadcrumb">
                                    <li class="active">Privacy</li>
                                </ul>
                                <p>
                                    <h4>Coming Soon !!!</h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 widget">
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a href="#" class="accordion-toggle" data-original-title="">
                                    <i class="icon-comment icon-white"></i>&nbsp;<span class="divider-vertical"></span>IA - Individual Assistant
                                </a>
                            </div>
                            <div class="accordion-body in collapse" id="contacts">
                                <div id="collapse-group" class="accordion">
                                    <div class="box accordion-group">
                                        <div id="ia" class="box-content in collapse">
                                            Привет, я - IA и я рада вас приветствовать! Если вы зашли к нам впервые, то я буду счастлива познакомиться и рассказать о себе и проекте. Если у вас уже есть учетная запись, то после логина мы сможем продолжить на чем остановились в прошлый раз.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <ul class="footer-links">
               @* <li><button class="btn-link" onclick="OpenTab('#tab7');">Support</button></li>
                <li class="muted">·</li>
                <li><button class="btn-link" onclick="OpenTab('#tab9');">Terms</button></li>
                <li class="muted">·</li>
                <li><button class="btn-link" onclick="OpenTab('#tab10');">Privacy</button></li>*@
                <li class="pull-right copyright">© 2013 webRunes</li>
                <li class="muted pull-right">·</li>
               @* <li class="pull-right"><button class="btn-link" onclick="OpenTab('#tab5');">English (US)</button></li>*@
            </ul>
        </div>
    </footer>

